// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tasks {
  padding-top: 20px
}

.tasks a {
  font-size: 20px
}

.lists {
  padding-top: 20px
}

.lists a {
  font-size: 20px
}